/* Navbar */
#navbar .logo{
    padding-top: 5px;
    float: none;
    text-align: center;
}


#navbar ul, #navbar ul li {
    float: none;
    text-align: center;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

/* Showcase */
#showcase {
    height: 100%;
}
#showcase .showcase-content {
      padding-top: 70px;
      padding-bottom: 30px;
}


/* home-info */

#home-info .info-img {
    
    display: none;
}

#home-info .info-content h2{
    margin-top: 5%;
}

#home-info .info-content {
    float: none;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    text-align: center;

}

/* features */

.box{
    float:none;
    width: 100%;
    padding:50px;
    text-align: center;
}

/* About Section */
.l-heading {
    text-align: center;
    line-height: 0.9em;
}
#about-info .info-left , #about-info .info-right {
float: none;
width: 100%;
}

#about-info .info-right {
  margin-top: 30px;  
}

/* contact page */

#contact form {
    width: 100%;
    float: left;
    
}

#contact .side-img img {
    display: none;
    
}

#contact .box{
    border-bottom: 2px solid #444;
}
